@use "../../../styles.variables.scss" as *;

:host {
  -webkit-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  border-radius: 1.3rem;
  padding: 0.6rem;
  font-weight: 400;
  line-height: normal;
  user-select: none;
  text-align: center;

  &.yellow {
    background-color: $yellow;
    color: $text-dark;
  }
  &.yellow:hover {
    background-color: $yellow-dark;
  }
  &.yellow:active {
    background-color: $yellow;
  }

  &.gray {
    background-color: $gray;
    color: $text-light;
  }
  &.gray:hover {
    background-color: $gray-dark;
  }
  &.gray:active {
    background-color: $gray;
  }
}
