@use "../../../styles.variables" as *;

:host {
  display: block;
  margin-bottom: 20px;

  pre {
    border-radius: 0.6rem;
    background-color: $background-gray;
    padding: 1rem;
    font-weight: 100;
    font-size: 0.9rem;
    font-family: monospace;
    @media (max-width: 480px) {
      font-size: 0.7rem;
    }

    code {
      background-color: transparent;
    }
  }
}
