@use "../../../styles.variables" as *;

:host {
  fieldset {
    display: flex;
    flex-direction: column;

    .app-button {
      margin-bottom: 10px;
      white-space: pre;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
