@use "../../../styles.variables.scss" as *;

:host {
  display: flex;
  grid-area: progress-bar;
  flex-basis: calc(100% / 10);
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 40px;

  .item-container {
    margin-bottom: 5px;
    width: calc(100% / 20);

    .item {
      border-radius: 50%;
      width: 15px;
      height: 15px;

      &.untouched {
        background-color: $question-untouched;
        &.current {
          outline: $yellow solid 2px;
          outline-offset: 2px;
        }
      }

      &.incorrect {
        background-color: $question-incorrect;
      }

      &.correct {
        background-color: $question-correct;
      }
    }
  }
}
