@use "../../../styles.variables.scss" as *;

:host {
  display: block;
  margin-bottom: 20px;
  max-height: 50svh;
  overflow: auto;
  scrollbar-color: $gray-dark transparent;
  scrollbar-width: thin;

  label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      display: none;
    }
  }

  .app-button {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
