<app-header goToOnClick="back" topText="Редактировать вопрос" />
<main>
  @if (questionForm) {
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <label for="topic"> Тема: </label>
      <input id="topic" type="text" formControlName="topic" />

      <label for="question-text"> Вопрос: </label>
      <textarea
        id="question-text"
        formControlName="text"
        appTextareaAutoresize
      ></textarea>

      <label> Варианты ответов: </label>
      <div class="answers">
        @for (option of options.controls; track option.value) {
          <div class="option-container">
            <label formGroupName="answer">
              <input
                type="radio"
                [value]="$index"
                (change)="test()"
                title="Выбери верный вариант"
                name="index"
                formControlName="index"
              />
            </label>
            <div formArrayName="options">
              <textarea
                type="text"
                [formControlName]="$index"
                appTextareaAutoresize
              ></textarea>
            </div>
            <button
              class="app-button yellow"
              type="button"
              (click)="removeOption($index)"
              [disabled]="isAddButtonDisabled($index)"
            >
              <img src="trash-basket.svg" />
            </button>
          </div>
        }
        <button class="app-button yellow" type="button" (click)="addOption()">
          {{ "Добавить опцию" | uppercase }}
        </button>
      </div>

      <div formGroupName="answer">
        <label for="explanation"> Объяснение: </label>
        <textarea
          id="explanation"
          type="text"
          formControlName="explanation"
          appTextareaAutoresize
        ></textarea>
      </div>
      <button class="app-button yellow" type="submit">
        {{ "Сохранить" | uppercase }}
      </button>
    </form>
  }
</main>
