<app-header
  goToOnClick="back"
  [topText]="mode() === 'new' ? 'Создать вопрос' : 'Редактировать вопрос'"
/>
<main>
  @if (questionForm) {
    <form [formGroup]="questionForm">
      <label for="topic"> Тема: </label>
      <input id="topic" type="text" formControlName="topic" />

      <label for="subtopic"> Подтема: </label>
      <textarea
        id="subtopic"
        formControlName="subtopic"
        appTextareaAutoresize
      ></textarea>

      <label for="question-text"> Вопрос: </label>
      <textarea
        id="question-text"
        formControlName="text"
        appTextareaAutoresize
      ></textarea>

      <label for="code"> Код: </label>
      <div id="code" formGroupName="code">
        <textarea formControlName="text" appTextareaAutoresize></textarea>
        <div id="languages">
          @for (
            language of ["typescript", "javascript", "css", "html"];
            track $index
          ) {
            <label class="app-button gray">
              <input
                type="radio"
                (click)="uncheckLanguage(language)"
                [value]="language"
                formControlName="language"
              />
              <span>{{ language }}</span>
            </label>
          }
        </div>
      </div>

      <label for="options"> Варианты ответов: </label>
      <div id="options" formArrayName="options">
        @for (option of options.controls; track option.value) {
          <div class="option-container" [formGroupName]="$index">
            <input
              type="checkbox"
              [value]="true"
              title="Выбери верный вариант"
              name="isCorrect"
              formControlName="isCorrect"
            />
            <textarea
              type="text"
              formControlName="text"
              appTextareaAutoresize
            ></textarea>
            <button
              class="app-button yellow"
              type="button"
              (click)="removeOption($index)"
              [disabled]="isRemoveButtonDisabled($index)"
            >
              <img src="trash-basket.svg" />
            </button>
          </div>
        }
        <button class="app-button yellow" type="button" (click)="addOption()">
          {{ "Добавить вариант ответа" | uppercase }}
        </button>
      </div>

      <label for="explanation"> Объяснение: </label>
      <textarea
        id="explanation"
        formControlName="explanation"
        appTextareaAutoresize
      ></textarea>

      <label for="links"> Полезные ссылки: </label>
      <div id="links" formArrayName="links">
        @for (link of links.controls; track link) {
          <div class="link-container">
            <textarea
              type="text"
              [formControlName]="$index"
              appTextareaAutoresize
            ></textarea>
            <button
              class="app-button yellow"
              type="button"
              (click)="removeLink($index)"
            >
              <img src="trash-basket.svg" />
            </button>
          </div>
        }
        <button
          class="app-button yellow"
          type="button"
          (click)="addEmptyLink()"
        >
          {{ "Добавить ссылку" | uppercase }}
        </button>
      </div>

      <label for="difficult"> Сложность: </label>
      <div id="difficult">
        @for (
          option of [
            { value: "easy", text: "Легко" },
            { value: "medium", text: "Нормально" },
            { value: "hard", text: "Сложно" },
          ];
          track option.value
        ) {
          <label class="app-button gray">
            <input
              type="radio"
              [value]="option.value"
              formControlName="difficult"
            />
            <span>{{ option.text }}</span>
          </label>
        }
      </div>

      <label for="reviewed"> Проверено: </label>
      <div id="reviewed">
        @for (
          option of [
            { value: true, text: "Да" },
            { value: false, text: "Нет" },
          ];
          track option.value
        ) {
          <label class="app-button gray">
            <input
              type="radio"
              [value]="option.value"
              formControlName="reviewed"
            />
            <span>{{ option.text }}</span>
          </label>
        }
      </div>

      <footer>
        <button
          class="app-button yellow"
          [disabled]="isSaveButtonDisabled()"
          type="button"
          (click)="submitQuestion(true)"
        >
          {{ "Сохранить" | uppercase }}
        </button>
        <button
          class="app-button yellow"
          [disabled]="isSaveButtonDisabled()"
          type="submit"
          (click)="submitQuestion(false)"
        >
          {{ "Сохранить и выйти" | uppercase }}
        </button>
      </footer>
    </form>
  }
</main>
