<app-header goToOnClick="back" topText="Редактировать вопрос" />
<main>
  @if (questionForm) {
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <label for="topic">
        {{ "Тема:" | uppercase }}
      </label>
      <input id="topic" type="text" disabled [value]="getTopic()" />
      <label for="question">
        {{ "Вопрос:" | uppercase }}
      </label>
      <textarea
        id="question"
        formControlName="text"
        appTextareaAutoresize
      ></textarea>
      <label for="correct-answer">
        {{ "Ответ:" | uppercase }}
      </label>
      <input id="correct-answer" type="text" disabled [value]="getAnswer()" />
      <div formGroupName="answer">
        <label for="explanation">
          {{ "Объяснение:" | uppercase }}
        </label>
        <textarea
          id="explanation"
          type="text"
          formControlName="explanation"
          appTextareaAutoresize
        ></textarea>
      </div>
      <button class="app-button yellow" type="submit">
        {{ "Подтвердить" | uppercase }}
      </button>
    </form>
  }
</main>
