@use "../../../styles.variables" as *;

:host {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  p,
  fieldset {
    margin-bottom: 20px;
  }

  fieldset {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;

      app-button {
        display: block;
        &:has(input:checked) {
          background-color: $yellow;
          color: $text-dark;
        }

        input {
          appearance: none;
        }
      }
    }
  }
}
