@use "../../../styles.variables" as *;

:host {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  h3 {
    color: $gray-light;
    font-size: 1rem;
  }

  p,
  h3,
  pre,
  fieldset {
    margin-bottom: 20px;
  }

  pre {
    border-radius: 0.6rem;
    background-color: $background-gray;
    padding: 0.8rem;
    font-weight: 100;
    font-size: 0.9rem;
    font-family: monospace;
  }

  fieldset {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;

      app-button {
        display: block;
        &:has(input:checked) {
          background-color: $yellow;
          color: $text-dark;
        }

        input {
          appearance: none;
        }
      }
    }
  }
}
