@if (questionsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <!-- TODO: add spinner here or something -->
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let questions = state.data;
      @let question = questions[index];

      <header>
        <app-button>
          <a href="/">МЕНЮ</a>
        </app-button>
        <h2>Вопрос номер {{ index + 1 }} из {{ questions.length }}</h2>
        <h3>{{ question.topic }}</h3>
      </header>
      <main>
        <p>{{ question.text }}</p>
        @if (question.code) {
          <app-code [code]="question.code" />
        }
        <app-answers
          [options]="question.options"
          (answer)="answers.set(index, $event)"
        />
      </main>
      <footer>
        <app-button (click)="confirmAnswer()">ОТВЕТИТЬ</app-button>
        <app-button (click)="confirmNoAnswer()">НЕТ ОТВЕТА</app-button>
      </footer>
    }
  }
}
