@if (questionsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let questions = state.data;
      @let question = questions[questionIndex];

      <app-header
        goToOnClick="menu"
        topText="Вопрос номер {{ questionIndex + 1 }} из {{ questions.length }}"
        bottomText="Тема: {{ question.topic }}"
      />
      <main>
        <app-progress-bar
          [questions]="questions"
          [questionIndex]="questionIndex"
          [userAnswers]="userAnswers()"
        />
        <p>{{ question.text }}</p>
        @if (question.code) {
          <app-code [code]="question.code" />
        }
        <app-options
          [options]="question.options"
          (answer)="setUserAnswer(questionIndex, $event)"
        />
      </main>
      <footer>
        <button
          class="app-button yellow"
          [disabled]="!isAnswerProvided(questionIndex)"
          (click)="confirmAnswer()"
        >
          ОТВЕТИТЬ
        </button>
        <button class="app-button yellow" (click)="confirmNoAnswer()">
          НЕТ ОТВЕТА
        </button>
      </footer>
    }
  }
}
