@if (questionsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let questions = state.data;
      @let question = questions[index];

      <app-header
        goToOnClick="menu"
        topText="Вопрос номер {{ index + 1 }} из {{ questions.length }}"
        bottomText="Тема: {{ question.topic }}"
      />
      <main>
        <app-progress-bar [questions]="questions" [index]="index" />
        <p>{{ question.text }}</p>
        @if (question.code) {
          <app-code [code]="question.code" />
        }
        <app-answers
          [options]="question.options"
          (answer)="quizService.setAnswer(index, $event)"
        />
      </main>
      <footer>
        <button class="app-button yellow" (click)="confirmAnswer()">
          ОТВЕТИТЬ
        </button>
        <button class="app-button yellow" (click)="confirmNoAnswer()">
          НЕТ ОТВЕТА
        </button>
      </footer>
    }
  }
}
