@use "../../styles.variables" as *;

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;

  app-header,
  app-progress-bar {
    margin-bottom: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    .app-button {
      width: 45%;
    }
  }
}
