:host {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  label {
    display: flex;
    justify-content: center;
    width: 100%;

    span {
      white-space: pre-wrap;
    }

    &:has(.info) {
      justify-content: space-between;
    }
  }

  input {
    display: none;
  }
}
