$yellow: #f9d57f;
$yellow-dark: #e4b257;

$gray: #5a5a5a;
$gray-dark: #484848;
$gray-light: #7a7a7a;

$text-dark: #333;
$text-light: white;

$background-black: #010101;
$background-gray: #2b2b2b;

$question-untouched: $gray-dark;
$question-correct: #1d7f3a;
$question-incorrect: #c33333;
