$yellow: #f9d57f;
$yellow-saturated: #e4b257;
$yellow-pale: #a8883d;

$gray: #5a5a5a;
$gray-saturated: #484848;
$gray-light: #7a7a7a;

$red: #c33333;
$red-saturated: #991a1a;

$green: #1d7f3a;
$green-saturated: #0f5e27;

$text-dark: #333;
$text-light: white;

$background-black: #010101;
$background-gray: #2b2b2b;

$question-untouched: $gray-saturated;
$question-correct: $green;
$question-incorrect: $red;
