@use "../../styles.variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  padding: 20px;

  header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "button h1";
    margin-bottom: 10px;

    .app-button {
      grid-area: button;
      margin-right: 1.5rem;

      a {
        text-decoration: none;
      }
    }

    h1 {
      grid-area: h1;
      align-self: center;
      font-weight: 500;
    }
  }
  main {
    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      h2 {
        align-self: center;
        font-weight: 500;
      }

      h3 {
        align-self: center;
        color: $gray-light;
        font-size: 1rem;
      }
    }

    p,
    app-code {
      margin-bottom: 10px;
    }

    h4 {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }
}
