@if (topicsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let topics = state.data;

      <main>
        <h2>{{ "Тема:" | uppercase }}</h2>
        <app-topic-options [topics]="topics" />

        <h2>{{ "Количество вопросов:" | uppercase }}</h2>
        <app-count-options [countOptions]="[10, 20, 40]" />

        <button
          class="app-button yellow start"
          (click)="goToQuizScreen()"
          [disabled]="isStartButtonDisabled()"
        >
          {{ "Начать тест" | uppercase }}
        </button>
      </main>

      <footer>
        @if (isAdmin$ | async) {
          <button class="app-button gray" (click)="goToEditQuestionsScreen()">
            {{ "Редактировать вопросы" | uppercase }}
          </button>
        }
        <button class="app-button gray" (click)="goToSettingsScreen()">
          {{ "Настройки" | uppercase }}
        </button>
      </footer>
    }
  }
}
