@if (topicsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let topicsData = state.data;

      <main>
        <h2>{{ "Тема:" | uppercase }}</h2>

        <div class="select-topic-container">
          <app-options
            name="select-topic"
            [options]="getTopicOptions(topicsData)"
            [default]="topic()"
            (optionChange)="topic.set($event)"
          />
        </div>

        @if (topic()) {
          <h2>{{ "Количество вопросов:" | uppercase }}</h2>
          <app-options
            name="select-count"
            [options]="getCountOptions(topicsData)"
            [default]="count()"
            (optionChange)="count.set($event)"
          />
        }

        <button
          class="app-button yellow start"
          (click)="goTo('quizScreen')"
          [disabled]="isStartButtonDisabled(topicsData)"
        >
          {{ "Начать тест" | uppercase }}
        </button>
      </main>

      <footer>
        @if (isAdmin()) {
          <button class="app-button gray" (click)="goTo('adminScreen')">
            {{ "Редактировать вопросы" | uppercase }}
          </button>
        }
        <button class="app-button gray" (click)="goTo('settingsScreen')">
          {{ "Настройки" | uppercase }}
        </button>
      </footer>
    }
  }
}
