@if (topicsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let topics = state.data;

      <header>
        <h2>ТЕМА:</h2>
      </header>
      <main>
        <app-topic-options [topics]="topics" />
        <button
          class="app-button yellow"
          (click)="goToQuizScreen()"
          [disabled]="isStartButtonDisabled()"
        >
          НАЧАТЬ ТЕСТ
        </button>
      </main>

      <footer>
        <!-- TODO: add Settings and About -->
      </footer>
    }
  }
}
