@if (questionsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let questions = state.data;
      <div style="position: absolute; top: 0; left: 0">
        @if (questionToPreview()) {
          @let question = questionToPreview();
          @if (question && question.code) {
            <app-code [code]="question.code" />
          }
        }
      </div>

      <app-header goToOnClick="menu" topText="Администрирование вопросов:" />
      <main>
        <div class="select-question-container">
          <app-options
            name="select-question"
            [options]="getQuestionOptions(questions)"
            (optionChange)="setQuestionId($event)"
            (optionMounseOver)="displayPreviewQuestion($event, questions)"
            (optionMounseOut)="hideQuestionPreview()"
          >
          </app-options>
        </div>
        <div class="buttons-container">
          <button
            class="app-button yellow"
            [disabled]="!questionId()"
            (click)="goToEditQuestionScreen()"
          >
            {{ "Редактировать вопрос" | uppercase }}
          </button>
          <button class="app-button yellow" (click)="goToEditQuestionScreen()">
            {{ "Создать вопрос" | uppercase }}
          </button>
        </div>
      </main>
    }
  }
}
