@if (questionsLoadingState$ | async; as state) {
  @switch (state.type) {
    @case ("loading") {
      <app-loading-screen />
    }
    @case ("error") {
      <!-- TODO: add error handling -->
      <!-- Error: {{ state.error.message }} -->
    }
    @case ("loaded") {
      @let questions = state.data;

      <app-header goToOnClick="menu" topText="Администрирование вопросов:" />
      <main>
        <div class="select-question-container">
          <app-options
            name="select-question"
            [options]="getQuestionOptions(questions)"
            (optionChange)="setQuestion(questions, $event)"
          />
        </div>
        <button class="app-button gray" (click)="goToEditQuestionScreen()">
          {{ "Редактировать вопрос" | uppercase }}
        </button>
      </main>
    }
  }
}
